
* {
    font-family: arial,helvetica,tahoma,sans-serif;
}
.test-button {
    border: 1px solid red;
    font-size: 12px;
}
.pad-text {
    font-size: 12px;
    padding: 5px;
}
.nowrap {
    white-space: nowrap;
}
.white-bg {
    background-color: white;
}
.padding-10 {
    padding: 10px;
}
.padding-20 {
    padding: 20px;
}
.padding-5 {
    padding: 5px;
}
.margin-5 {
    margin: 5px;
}
.margin-10 {
    margin: 10px;
}
.margin-20 {
    margin: 20px;
}
.relative {
    position: relative;
}
.red-border {
    border: 1px solid red;
}
.cursor-hand {
}
#demo-header {
    background: url("../images/bg/hd-bg.gif") repeat-x scroll 0 50% #1E4176;
    border: 0 none;
    padding-left: 3px;
}
#demo-theme {
    float: right;
    padding-right: 8px;
    padding-top: 5px;
    position: relative;
}
#demo-title {
    color: white;
    font: 16px tahoma,arial,sans-serif;
    padding: 6px 0 8px 6px;
}
.sample-box {
    border: medium none !important;
    color: #444444;
    cursor: default;
    float: left;
    height: 114px;
    margin: 5px 5px 0;
    overflow: hidden;
    padding-top: 4px;
    text-align: center;
    width: 135px;
}
.sample-over {
    background: url("../images/thumbs/sample-over.gif") no-repeat scroll 0 0 transparent;
}
.sample-over div {
    color: #1860A8;
}
.sample-box div, #sample-box div a {
    font-family: tahoma,arial,sans-serif;
    font-size: 10px;
    line-height: 12px;
}
.sample-box dt a {
    border: 0 none !important;
}
#img-chooser-dlg .details {
    padding: 10px;
    text-align: center;
}
#img-chooser-dlg .details-info {
    border-top: 1px solid #CCCCCC;
    font: 11px Arial,Helvetica,sans-serif;
    margin-top: 5px;
    padding-top: 5px;
    text-align: left;
}
#img-chooser-dlg .details-info b {
    color: #555555;
    display: block;
    margin-bottom: 4px;
}
#img-chooser-dlg .details-info span {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}
#img-chooser-view {
    background: none repeat scroll 0 0 white;
    font: 11px Arial,Helvetica,sans-serif;
}
#img-chooser-view .thumb {
    background: none repeat scroll 0 0 #DDDDDD;
    padding: 3px;
}
#img-chooser-view .thumb img {
    height: 60px;
    width: 80px;
}
#img-chooser-view .thumb-wrap {
    float: left;
    margin: 4px 0 4px 4px;
    padding: 5px;
}
#img-chooser-view .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
}
#img-chooser-view .x-view-over {
    background: none repeat-x scroll left top #EFEFEF;
    border: 1px solid #DDDDDD;
    padding: 4px;
}
#img-chooser-view .x-view-selected {
    background: none repeat scroll 0 0 #DFEDFF;
    border: 1px solid #6593CF;
    padding: 4px;
}
#img-chooser-view .x-view-selected .thumb {
    background: none repeat scroll 0 0 transparent;
}
#img-chooser-view .x-view-selected span {
    color: #1A4D8F;
}
#img-chooser-view .loading-indicator {
    background-image: url("../../resources/images/grid/loading.gif");
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 11px;
    margin: 10px;
    padding-left: 20px;
}
#images-view .x-panel-body {
    background: none repeat scroll 0 0 white;
    font: 11px Arial,Helvetica,sans-serif;
}
#images-view .thumb {
    background: none repeat scroll 0 0 #DDDDDD;
    padding: 3px;
}
#images-view .thumb img {
    height: 60px;
    width: 80px;
}
#images-view .thumb-wrap {
    border: 1px solid white;
    float: left;
    margin: 4px 0 4px 4px;
    padding: 5px;
}
.x-theme-access #images-view .thumb-wrap {
    border: 1px solid #232D38;
}
#images-view .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
}
#images-view .x-view-over {
    background: url("../../gxt/images/default/grid/row-over.gif") repeat-x scroll left top #EFEFEF;
    border: 1px solid #DDDDDD;
    padding: 4px;
}
#images-view .x-view-selected {
    background: none no-repeat scroll right bottom #EFF5FB;
    border: 1px solid #99BBE8;
    padding: 4px;
}
#images-view .x-view-selected .thumb {
    background: none repeat scroll 0 0 transparent;
}
#images-view .loading-indicator {
    background-image: url("../../gxt/resources/images/default/grid/loading.gif");
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 11px;
    margin: 10px;
    padding-left: 20px;
}
.x-panel-body.white-bg {
    background-color: white;
}
.source .x-panel-header {
    background-image: none;
}
.x-grid3-summary-row {
    background: none repeat scroll 0 50% #F1F2F4;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #333333;
}
.x-grid3-summary-row .x-grid3-cell-inner {
    font-weight: bold;
    padding-bottom: 4px;
}
.x-grid3-body .x-grid3-td-cost {
    background-color: #F1F2F4;
}
